html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;

}

.offtag {
    display: flex;
    background-color: black;
    opacity: 0.8;
    color: white;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.offtag p {
    position: relative;
    left: 5%;
    cursor: pointer;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu i {
    display: none;
    cursor: pointer;
}

.menu1 {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.menu1:hover {
    text-decoration: underline;
}

.container {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.formcontainer {
    background-color: lightgreen;
    width: 700px;
    height: 450px;
    padding: 30px;

}

.contactform {
    display: flex;
    flex-direction: column;
    position: relative;
}

.contactform input {
    height: 50px;
    margin-top: 5px;
}

.contactform textarea {
    height: 100px;
    margin-top: 5px;
}

.contactform label {
    margin-top: 10px;
}

.contactform button {
    margin-top: 30px;
    padding: 10px;
    width: 100px;
    background-color: rgb(114, 179, 4);
    color: white;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 2%;
    bottom: -15%;
}

.contactform button:hover {
    background-color: darkseagreen;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1 h2 {
    text-align: center;
    margin-top: 30px;
}

.container1 input {
    width: 700px;
    border: solid black 2px;
    height: 30px;
}

.container1-btn {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.container1-btn button {
    padding: 10px;
    background-color: rgb(62, 146, 62);
    color: white;
    cursor: pointer;
    border-style: none;
    border-radius: 10px;
}

.container1-btn button:hover {
    background-color: rgb(47, 116, 47);
}

.footer {
    background-color: lightgreen;
    padding: 10px;
    margin-top: 10px;
    height: 170px;
    margin-bottom: 10px;
}

.footer-icon {
    padding: 10px;
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.brand {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.brand-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 30px;
    cursor: pointer;
}

.brand-item i {
    margin-bottom: 5px;
    font-size: 40px;
}

.card {
    display: flex;
    padding: 10px;
    gap: 50px;
    align-items: center;
}

.values {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 25%;
    padding: 10px;
    gap: 10px;
}

.values-props {
    width: 220px;
    padding: 5px;
    background-color: lightgreen;
    border-radius: 10px;
    font-size: 17px;
}

.values-props i {
    font-size: 30px;
}

.newarrival {
    padding: 20px;
}

.arrival {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.arrival-img__1 {
    max-width: 300px;
    height: 350px;
    border-radius: 10px;
}

.arrival-img {
    max-width: 400px;
    position: relative;
}

.btn {
    padding: 9px;
    background-color: white;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 30%;
}

.wantcontainer {
    padding: 20px;
}

.want {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.wantbox1 {
    display: flex;
    justify-content: space-between;
    gap: 65px;
    scroll-snap-align: start;

}

.want::-webkit-scrollbar {
    display: none;
}

.want-box {
    max-width: 400px;
    position: relative;
}

.want-box__img {
    max-width: 300px;
    height: 340px;
    border-radius: 10px;
}

.want-box button {
    text-align: center;
    padding: 5px;
    background-color: red;
    border-style: none;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.want-box i {
    position: absolute;
    color: white;
    bottom: 15px;
    right: 10px;
    font-size: 25px;
}

.box {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgreen;
    gap: 20px;
}

.box1 {
    display: flex;
    justify-content: center;
}

.box1 img {
    max-width: 400px;
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
}

.btn6 {
    width: 110px;
    padding: 8px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin: 0;
}

.box2 p,
h2 {
    margin: 0;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
}

.sidenavbar {
    background-color: lightgreen;
    display: none;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    transition: all;
    transition-duration: 0.6s;
}

.sidenavbar ul {
    padding: 30px;
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
}

.sidenavbar a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sidenavbar a:hover {
    text-decoration: underline;
}

.collection {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 20px;
}

.collection-check {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.search {
    width: 80%;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
}

.collection-search i {
    position: relative;
    right: -39%;
    bottom: 1.7%;
    cursor: pointer;
}

.collection-search {
    border-left: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-img {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.search-img1 {
    max-width: 300px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
}

.image {
    max-width: 280px;
}

.fa-heart.active {
    color: red;
}

.fa-heart {
    cursor: pointer;
}


@media screen and (max-width:800px) {
    body {
        font-size: 12px;
    }

    .box1 img {
        max-width: 300px;
    }

    .box2 {
        font-size: 20px;
    }

    .brand-item {
        font-size: 20px;
        font-weight: 150;
    }

    .brand-item i {
        font-size: 30px;
    }

    .card h3 {
        font-size: 12px;
    }

    .want-box__img {
        max-width: 210px;
        height: 250px;
    }

    .formcontainer {
        max-width: 500px;
        height: 400px;
        padding: 20px;
    }

    .contactform input {
        width: 488px;
        height: 40px;
        margin-top: 5px;
    }

    .contactform textarea {
        width: 488px;
        height: 95px;
        margin-top: 5px;
    }

    .contactform button {
        right: 4%;
        bottom: -18%;
    }

    .search {
        width: 60%;
        padding: 10px;
        border: solid 1px black;
        border-radius: 10px;
    }

    .search-img {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .search-img1 {
        max-width: 240px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        background-color: #F0F0F0;
    }

    .collection-check {
        width: 130px;
    }

    .image {
        max-width: 220px;
    }

    .container1 input {
        width: 500px;
        border: solid black 1.5px;
        height: 25px;
    }

}

@media screen and (max-width:600px) {
    .menu i {
        display: flex;
    }

    .menu1 {
        display: none;
    }

    .box1 img {
        max-width: 200px;
        height: 150px;
    }

    .box2 {
        font-size: 12px;
    }

    .brand-item {
        font-size: 11px;
        font-weight: 10;
    }

    .brand-item i {
        font-size: 20px;
    }

    .values-props {
        width: 70px;
        height: 180px;
        font-size: 10px;
    }


    .arrival-img__1 {
        max-width: 150px;
        height: 100px;
    }

    .btn {
        width: 60px;
        font-size: 8px;
        padding: 2px;
        top: 43%;
        left: 15%;
    }

    .want-box__img {
        max-width: 120px;
        height: 100px;
    }

    .want-box button {
        font-size: 8px;
    }

    .want-box i {
        font-size: 15px;
        bottom: 8px;
        right: 5px;
    }

    .wantbox1 {
        gap: 20px;
    }

    .footer {
        font-size: 14px;
        font-weight: 400;
    }

    .container1 {
        text-align: center;
    }

    .sidenavbar {
        display: flex;
        gap: 90px;
        left: -50%;
    }

    .formcontainer {
        max-width: 350px;
        height: 380px;
        padding: 20px;
    }

    .contactform input {
        width: 339px;
        height: 35px;
        margin-top: 5px;
    }

    .contactform textarea {
        width: 339px;
        height: 90px;
        margin-top: 5px;
    }

    .contactform button {
        right: 5%;
        bottom: -20%;
    }

    .collection-check {
        width: 90px;
    }

    .search {
        width: 60%;
    }

    .search-img1 {
        max-width: 150px;
    }

    .search-img1 h2 {
        font-size: 10px;
    }

    .search-img {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 50%;
        gap: 10px;
    }

    .image {
        max-width: 80px;
    }

    .container1 input {
        width: 300px;
        height: 20px;
        border: solid black 1px;
    }
}