html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;

}

.offtag {
    display: flex;
    background-color: black;
    opacity: 0.8;
    color: white;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.offtag p {
    position: relative;
    left: 5%;
    cursor: pointer;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu i {
    display: none;
}

.menu1 {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.menu1:hover {
    text-decoration: underline;
}

.container {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.formcontainer {
    background-color: lightgreen;
    width: 700px;
    height: 500px;
    padding: 30px;
    font-size: larger;
}

.contactform {
    display: flex;
    flex-direction: column;
}

.contactform input {
    height: 50px;
    margin-top: 5px;
}

.contactform textarea {
    height: 100px;
    margin-top: 5px;
}

.contactform label {
    margin-top: 10px;
}

.contactform button {
    margin-top: 30px;
    padding: 10px;
    width: 100px;
    background-color: rgb(114, 179, 4);
    color: white;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}

.contactform button:hover {
    background-color: darkseagreen;
}

.container1 {
    display: grid;
    justify-content: center;
}

.container1 h2 {
    text-align: center;
    margin-top: 30px;
}

.container1 input {
    border: solid black 2px;
    height: 30px;
}

.container1-btn {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.container1-btn button {
    padding: 10px;
    background-color: rgb(62, 146, 62);
    color: white;
    cursor: pointer;
    border-style: none;
    border-radius: 10px;
}

.container1-btn button:hover {
    background-color: rgb(47, 116, 47);
}

.footer {
    background-color: lightgreen;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.footer-icon {
    padding: 10px;
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.brand {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.brand-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 30px;
    cursor: pointer;
}

.brand-item i {
    margin-bottom: 5px;
    font-size: 40px;
}

.card {
    display: flex;
    padding: 20px;
    gap: 50px;
    align-items: center;
}
.values {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
}

.values-props {
    width: 220px;
    padding: 10px;
    background-color: lightgreen;
    border-radius: 10px;
    font-size: 17px;
}

.values-props i {
    font-size: 30px;
}

.newarrival {
    padding: 20px;
}

.arrival {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.arrival-img__1 {
    max-width: 300px;
    height: 350px;
    border-radius: 10px;
}

.arrival-img {
    max-width: 400px;
    position: relative;
}

.btn {
    padding: 9px;
    background-color: white;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 30%;
}

.wantcontainer {
    padding: 20px;
}

.want {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 20px;
}

.wantbox1 {
    display: flex;
    justify-content: space-between;
    gap: 65px;

    scroll-snap-align: start;
}

.want-box {
    max-width: 400px;
    position: relative;
}

.want-box__img {
    max-width: 300px;
    height: 340px;
    border-radius: 10px;
}

.want-box button {
    text-align: center;
    padding: 5px;
    background-color: red;
    border-style: none;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.want-box i {
    position: absolute;
    color: white;
    bottom: 15px;
    right: 10px;
    font-size: 25px;
}

.box {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgreen;
    gap: 20px;
}

.box1 {
    display: flex;
    justify-content: center;
}

.box1 img {
    max-width: 400px;
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
}

.btn6 {
    width: 110px;
    padding: 8px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin: 0;
}

.box2 p,
h2 {
    margin: 0;
}

@media screen and (max-width:800px) {
    body {
        font-size: 12px;
    }

    .box1 img {
        max-width: 300px;
    }

    .box2 {
        font-size: 20px;
    }

    .brand-item {
        font-size: 20px;
        font-weight: 150;
    }

    .brand-item i {
        font-size: 30px;
    }

    .card h3 {
        font-size: 12px;
    }

    .want-box__img {
        max-width: 210px;
        height: 250px;
    }

    .footer {
        font-size: 16px;
        font-weight: 450;
    }
}

@media screen and (max-width:600px) {
    .card{
        font-size: ;
    }
    .menu i {
        display: flex;
    }

    .menu1 {
        display: none;
    }

    .box1 img {
        max-width: 200px;
        height: 150px;
    }

    .box2 {
        font-size: 12px;
    }

    .brand-item {
        font-size: 11px;
        font-weight: 10;
    }

    .brand-item i {
        font-size: 20px;
    }

    .values-props {
        width: 70px;
        height: 180px;
        font-size: 10px;
    }

    .arrival-img__1 {
        max-width: 150px;
        height: 100px;
    }

    .btn {
        width: 60px;
        font-size: 8px;
        padding: 2px;
        top: 43%;
        left: 15%;
    }

    .want-box__img {
         max-width: 150px;
        height: 100px;
    }
    .want-box button{
    font-size: 8px;
    }
    .want-box i{
    font-size: 15px;
    bottom: 8px;
    right: 5px;
    }

    .wantbox1 {
        gap: 35px;
    }

    .footer {
        font-size: 14px;
        font-weight: 400;
    }

    .container1 {
        text-align: center;
    }
}